
#techNotification {
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    color: white;
    font-family: 'Amatic SC';
    font-size: 24px;
    text-align: center;
    background-color: #202020;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#techNotificationClose {
    font-size: 14px;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px white solid;
    border-radius: 15px;
    top: 10px;
    right: 5%;
    font-family: 'Raleway';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
}

#techNotificationClose:hover {
    color: #202020;
    background-color: #fff;
    transition: .3s;
}