#complexes {
    width: 100%;
    height: 1430px;
    background-color: #272727;
    padding-top: 50px;
}

#complexesGrid {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 420px;
}

.gridBlock {
    position: relative;
    grid-column-end: span 6;
    /* grid-row-end: span 2; */
}

.gridBlock img {
    position: absolute;
    top: 0%;
    left: 0%;
}

.fake {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
}

.gridBlock:hover .fake{
    opacity: 1;
    transition: .5s;
}

.gridBlock div.zigzagComplexes {
    background: none;
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 23%;
    width: 50%;
    height: 2%;
    opacity: 0;
    transition: .5s;
}

.gridBlock:hover div.zigzagComplexes {
    transition: .3s;
    transition-delay: .4s;
    opacity: 1;
}

div.zigzagComplexes img{
    width: 30%;
    position: absolute;
}

div.zigzagComplexes img:nth-child(1){
    position: absolute;
    left: 0;
}

div.zigzagComplexes img:nth-child(2){
    position: absolute;
    left: 70%;
}

.gridBlock h1{
    position: absolute;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: white;
    top: 40%;
    width: 100%;
    height: 20%;
    background: none;
    transition: .5s;
    transition-delay: .3s;
    text-align: center;
    line-height: 70px;
}

.gridBlock:hover h1 {
    top: 5%;
    transition: .5s;
}

.complexesInfo {
    position: absolute;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    width: 60%;
    left: 20%;
    height: 40%;
    top: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.gridBlock:hover .complexesInfo{
    opacity: 1;
    transition: .5s;
}

.complexesButton {
    position: absolute;
    bottom: 5%;
    left: 22.5%;
    width: 55%;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: .5s;
}

.gridBlock:hover .complexesButton{
    opacity: 1;
    transition: .5s;
}

.gridBlock:hover .complexesButton:hover{
    color: black;
    background-color: #fff;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    #complexes {
        height: 1370px;
    }

    #complexesGrid {
        width: 90%;
        grid-auto-rows: 400px;
    }
}

@media screen and (max-width: 1000px) {
    #complexes {
        height: 1220px;
    }

    #complexesGrid {
        width: calc(100% - 30px);
        grid-auto-rows: 350px;
        grid-gap: 15px;
    }

    .gridBlock h1{
        font-size: 2.4em;
    }

    .complexesButton {
        font-size: 1.3em;
    }

    .complexesInfo {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 767px) {
    #complexes {
        height: 2580px;
    }

    #complexesGrid {
        width: 75%;
        grid-auto-rows: 400px;
        grid-gap: 15px;
    }

    .gridBlock {
        position: relative;
        grid-column-end: span 12;
        /* grid-row-end: span 2; */
    }

    .gridBlock h1{
        font-size: 2.6em;
    }

    .complexesButton {
        font-size: 1.4em;
    }

    .complexesInfo {
        font-size: 1.2em;
        width: 90%;
        left: 5%;
    }
}